@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-inter);
  --color-huerto-verde: #8DA189;     /* Verde Salvia */
  --color-huerto-crema: #F5F2ED;     /* Crema/Piedra (Fondo) */
  --color-huerto-terracota: #D68369; /* Terracota Suave */
  --color-huerto-madera: #C4A484;    /* Madera Clara */
  --color-huerto-texto: #2D312C;     /* Un gris verdoso casi negro para legibilidad */
}
